@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-assistant {
	@apply prose prose-p:my-3 prose-ol:my-3 prose-ul:my-3 prose-blockquote:my-3 prose-indigo prose-ul:prose-li:marker:text-black;
}

.bubble-user {
	@apply prose prose-p:my-1 prose-indigo text-white;
}

h1 {
	font-family: "Open Sans";
}

.Dialog-overlay {
	background: rgba(0, 0, 0, 0.8);
	display: grid;
	place-items: center;
}

.fade {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
