@tailwind base;
@tailwind components;
@tailwind utilities;

h1.heading {
	font-family: "Open Sans";
}

.fadeIn {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
